body {
    font-family: Arial, sans-serif;
    background-color: #00992b;
}

span {
    display: block;
    height: auto;
    width: auto;
    line-height: auto;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    float: left;
    margin-left: 10%;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
}

#logo {
    display: block;
    border-radius: 50%;
}

#searchbar {
    margin-right: 30px;
}

#header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

#logo {
    grid-column: 1 / 3;
    grid-row: 1;
}

#searchbar {
    text-align: center;
}